@import 'reset.css';
@import 'base.css';
@import 'modules.css';

#head{
    width: 480px;
    margin-left:8vh ;
    margin-top: 25px;
    margin-bottom: 25px;

}

.main{
    height: 767px;
    width: 480px;
    line-height: 767px;
    margin: 0 auto;
    /* position: relative; */
    display: grid;
	grid-template-rows: 75px 150px 125px 125px 250px 250px 80px ;
	grid-template-columns: 1fr 1fr;
 
}

.a,.b,.c,.d,.i{
    grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.e,.g{
    grid-column-start: 1;
	grid-column-end: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.f,.h{
    grid-column-start: 2;
	grid-column-end: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.p{
   
   margin-left: 0.5em;
   margin-top: 1vh;

   
}
.container div ,.main div{
    display: flex;
    justify-content: center;
    align-items: center; 

}
.container .p{
   

    display: grid;  
  
    grid-template-rows: 0.5fr 9.5fr; 

}

p.text   {

    display: flex;
    justify-content: center;
    align-items: center; 
    flex-basis: 380vw;
    margin-top: 15px;

}
p.p {
    margin-top: -10%;
    
   
}

.a{
height: 75px;

width: 480px;
background-color:red;
    border:0.5px solid #b4b3b3; 

}


.b{
height: 150px;
width: 480px;
background-color: gold;
line-height: 150px;
text-align: center;
border:0.5px solid #b4b3b3;
/* position: relative; */
}
.c{
height: 125px;

width: 480px;
background-color: greenyellow;
    border:0.5px solid #b4b3b3; 
}

.d{
height: 125px;
width: 480px;
background-color: rebeccapurple;
line-height: 125px;
text-align: center;
border:0.5px solid #b4b3b3;
/* position: relative; */
}
.e{
height: 250px;
width: 240px;
margin-left: -1px;
background-color: tan;
line-height: 250px;
text-align: center;
border:0.5px solid #b4b3b3;
 float:left;
/*clear: left; */
/* width: 49%; */
position: relative;
/* display: inline-block; */
}
.f{
height: 250px;
width: 240px;

background-color: yellowgreen;
line-height: 250px;
text-align: center;
border:0.5px solid #b4b3b3;
float:left;
/* clear: right; */ 
/* width: 50%; */
/* display: inline-block; */
position: relative;
}
.g{
height: 250px;
width: 240px;
margin-left: 1px;
background-color: wheat;
line-height: 250px;
text-align: center;
border:0.5px solid #b4b3b3;
float:right;
/* clear: left; */
/* width: 49%; */
position: relative;
/* display: inline-block; */
}
.h{
height: 250px;
width: 240px;

margin-right: 1px;
background-color: aqua;
line-height: 250px;
text-align: center;
border:0.5px solid #b4b3b3;   
 float:right;
/*clear: right;*/
/* width: 50%; */
position: relative;
/* display: inline-block; */
}
.i{
height: 80px;
width: 480px;
background-color: goldenrod;
line-height: 80px;
text-align: center;
border:0.5px solid #b4b3b3;   
/* position: absolute; */
}

.container{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
}



@media(min-width:768px){
  #head{
      width: 480px;
      margin-left:8vh ;
      margin-top: 25px;
      margin-bottom: 25px;
  
  }
  #main-page{
      margin-left: 8vh;
      margin-right: 8vh;
  }
  
.main{
  height: 1024px;
width: 767px;


display: flex;
flex-wrap: wrap;
flex-direction: row;


} 

#head span {
  display: none;
}
#head:after {
  content: 'Tablet:768px - 1024px';
}
#head strong{
    font-size: xx-large;
}

#title1 span {
  display: none;
}
#title1:after {
  content: '960x100';
}

#title2 span {
  display: none;
}
#title2:after {
  content: '200x600';
}

#title3 span {
  display: none;
}
#title3:after {
  content: '380x200';
}

#title4 span {
  display: none;
}
#title4:after {
  content: '380x200';
}

#title5 span {
  display: none;
}
#title5:after {
  content: '190x250';
}

#title6 span {
  display: none;
}
#title6:after {
  content: '190x250';
}

#title7 span {
  display: none;
}
#title7:after {
  content: '190x250';
}

#title8 span {
  display: none;
}
#title8:after {
  content: '190x250';
}

#title9 span {
  display: none;
}
#title9:after {
  content: '760x150';
  
}


#title1{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 100px;
  width: 960px;
  background-color: #345c00;
}

#title2{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 600px;
  width: 200px;
  background-color: #0c81ee;
}
#title3{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height:  200px;
width: 380px;
background-color: #0d0083;
} 
.container{
   display: flex;
  
}
.container0{
display: flow-root;
  
}

.container1{
  display: flex;
}

.container2{

  display: inline-flex
}
.container22{
/* display: grid;   */
grid-column: 1fr 1fr;
}
#title4{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height:  200px;
  width: 380px;
  background-color: #00830b;
  
}
#title5{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 250px;
  width: 190px;
  background-color: #ca08b0;
  }

  #title6{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
      width: 190px;
      background-color: #00e4d1

  }
  #title7{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
  width: 190px;
  background-color: #a00606;
  }
  #title8{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
  width: 190px;
  background-color: #ffee00;
  }
#title9    {
  display: grid;
height: 150px;
width: 760px;
background-color: #7700ff;  
}

} 

@media(min-width:960px){
  #head{
      width: 480px;
      margin-left:8vh ;
      margin-top: 25px;
      margin-bottom: 25px;
  
  }
  #main-page{
      margin-left: 8vh;
      margin-right: 8vh;
  }
  
.main{
  height: 767px;
width: 960px;


display: flex;
flex-wrap: wrap;
flex-direction: row;


} 

#head span {
  display: none;
}
#head:after {
  content: 'desktop:767px - 960px';
}
#head strong{
    font-size: xx-large;
}

#title1 span {
  display: none;
}
#title1:after {
  content: '960x100';
}

#title2 span {
  display: none;
}
#title2:after {
  content: '200x600';
}

#title3 span {
  display: none;
}
#title3:after {
  content: '380x200';
}

#title4 span {
  display: none;
}
#title4:after {
  content: '380x200';
}

#title5 span {
  display: none;
}
#title5:after {
  content: '190x250';
}

#title6 span {
  display: none;
}
#title6:after {
  content: '190x250';
}

#title7 span {
  display: none;
}
#title7:after {
  content: '190x250';
}

#title8 span {
  display: none;
}
#title8:after {
  content: '190x250';
}

#title9 span {
  display: none;
}
#title9:after {
  content: '760x150';
  
}


#title1{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 100px;
  width: 960px;
  background-color: #5c0000;
}

#title2{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 600px;
  width: 200px;
  background-color: #ee0c57;
}
#title3{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height:  200px;
width: 380px;
background-color: #5c8300;
} 
.container{
   display: flex;
  
}
.container0{
display: flow-root;
  
}

.container1{
  display: flex;
}

.container2{

  display: inline-flex
}
.container22{
/* display: grid;   */
grid-column: 1fr 1fr;
}
#title4{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height:  200px;
  width: 380px;
  background-color: #836f00;
  
}
#title5{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 250px;
  width: 190px;
  background-color: #3208ca;
  }

  #title6{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
      width: 190px;
      background-color: #e40039

  }
  #title7{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
  width: 190px;
  background-color: #32a006;
  }
  #title8{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
  width: 190px;
  background-color: #002fff;
  }
#title9    {
  display: grid;
height: 150px;
width: 760px;
background-color: #ffc400;  
}

   } 
   
   
}
