@import 'reset.css';
@import 'base.css';
@import 'modules.css';

#head{
    width: 480px;
    margin-left:8vh ;
    margin-top: 25px;
    margin-bottom: 25px;

}
#main-page{
    margin-left: 8vh;
    margin-right: 8vh;
}


.p{
   
   margin-left: 0.5em;
   margin-top: 1vh;

   
}
.container div ,.main div{
    display: flex;
    justify-content: center;
    align-items: center; 

}
.container .p{
   

    display: grid;  
  
    grid-template-rows: 0.5fr 9.5fr; 

}

p.text   {

    display: flex;
    justify-content: center;
    align-items: center; 
    flex-basis: 380vw;
    margin-top: 15px;

}
p.p {
    margin-top: -10%;
    
   
}
#title1{
    
    height: 75px;
width: 480px;
background-color:red;
    border:0.5px solid #b4b3b3; 

}

#title2{
   
    height: 150px;
    width: 480px;
    background-color: gold;
    border:0.5px solid #b4b3b3; 
}
#title3{
    
    height: 125px;
width: 480px;
background-color: greenyellow;
    border:0.5px solid #b4b3b3; 
}
#title4{
    
    height: 125px;
    width: 480px;
    background-color: rebeccapurple;
    border:0.5px solid #b4b3b3; 
}
#title5{
   
    height: 250px;
    width: 240px;
    background-color: tan;
    border:0.5px solid #b4b3b3; 
}
#title6{
    
    height: 250px;
    width: 240px;
    background-color: yellowgreen;
    border:0.5px solid #b4b3b3; 
}
#title7{
    
    height: 250px;
    width: 240px;
    background-color: wheat; 
    border:0.5px solid #b4b3b3; 
}
#title8{
   
    height: 250px;
    width: 240px;
    background-color: aqua;
    border:0.5px solid #b4b3b3; 
}
#title9{
   
    height: 80px;
width: 480px;
background-color: goldenrod;
    border:0.5px solid #b4b3b3; 
}
.container{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
}



@media(min-width:768px){
  #head{
      width: 480px;
      margin-left:8vh ;
      margin-top: 25px;
      margin-bottom: 25px;
  
  }
  #main-page{
      margin-left: 8vh;
      margin-right: 8vh;
  }
  
.main{
  height: 1024px;
width: 767px;


display: flex;
flex-wrap: wrap;
flex-direction: row;


} 

#head span {
  display: none;
}
#head:after {
  content: 'Tablet:768px - 1024px';
}
#head strong{
    font-size: xx-large;
}

#title1 span {
  display: none;
}
#title1:after {
  content: '960x100';
}

#title2 span {
  display: none;
}
#title2:after {
  content: '200x600';
}

#title3 span {
  display: none;
}
#title3:after {
  content: '380x200';
}

#title4 span {
  display: none;
}
#title4:after {
  content: '380x200';
}

#title5 span {
  display: none;
}
#title5:after {
  content: '190x250';
}

#title6 span {
  display: none;
}
#title6:after {
  content: '190x250';
}

#title7 span {
  display: none;
}
#title7:after {
  content: '190x250';
}

#title8 span {
  display: none;
}
#title8:after {
  content: '190x250';
}

#title9 span {
  display: none;
}
#title9:after {
  content: '760x150';
  
}


#title1{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 100px;
  width: 960px;
  background-color: #345c00;
}

#title2{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 600px;
  width: 200px;
  background-color: #0c81ee;
}
#title3{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height:  200px;
width: 380px;
background-color: #0d0083;
} 
.container{
   display: flex;
  
}
.container0{
display: flow-root;
  
}

.container1{
  display: flex;
}

.container2{

  display: inline-flex
}
.container22{
/* display: grid;   */
grid-column: 1fr 1fr;
}
#title4{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height:  200px;
  width: 380px;
  background-color: #00830b;
  
}
#title5{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 250px;
  width: 190px;
  background-color: #ca08b0;
  }

  #title6{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
      width: 190px;
      background-color: #00e4d1

  }
  #title7{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
  width: 190px;
  background-color: #a00606;
  }
  #title8{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
  width: 190px;
  background-color: #ffee00;
  }
#title9    {
  display: grid;
height: 150px;
width: 760px;
background-color: #7700ff;  
}

} 

@media(min-width:960px){
  #head{
      width: 480px;
      margin-left:8vh ;
      margin-top: 25px;
      margin-bottom: 25px;
  
  }
  #main-page{
      margin-left: 8vh;
      margin-right: 8vh;
  }
  
.main{
  height: 767px;
width: 960px;


display: flex;
flex-wrap: wrap;
flex-direction: row;


} 

#head span {
  display: none;
}
#head:after {
  content: 'desktop:767px - 960px';
}
#head strong{
    font-size: xx-large;
}

#title1 span {
  display: none;
}
#title1:after {
  content: '960x100';
}

#title2 span {
  display: none;
}
#title2:after {
  content: '200x600';
}

#title3 span {
  display: none;
}
#title3:after {
  content: '380x200';
}

#title4 span {
  display: none;
}
#title4:after {
  content: '380x200';
}

#title5 span {
  display: none;
}
#title5:after {
  content: '190x250';
}

#title6 span {
  display: none;
}
#title6:after {
  content: '190x250';
}

#title7 span {
  display: none;
}
#title7:after {
  content: '190x250';
}

#title8 span {
  display: none;
}
#title8:after {
  content: '190x250';
}

#title9 span {
  display: none;
}
#title9:after {
  content: '760x150';
  
}


#title1{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 100px;
  width: 960px;
  background-color: #5c0000;
}

#title2{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 600px;
  width: 200px;
  background-color: #ee0c57;
}
#title3{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height:  200px;
width: 380px;
background-color: #5c8300;
} 
.container{
   display: flex;
  
}
.container0{
display: flow-root;
  
}

.container1{
  display: flex;
}

.container2{

  display: inline-flex
}
.container22{
/* display: grid;   */
grid-column: 1fr 1fr;
}
#title4{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height:  200px;
  width: 380px;
  background-color: #836f00;
  
}
#title5{
  display: grid;
  border:0.5px solid #b4b3b3; 
  height: 250px;
  width: 190px;
  background-color: #3208ca;
  }

  #title6{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
      width: 190px;
      background-color: #e40039

  }
  #title7{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
  width: 190px;
  background-color: #32a006;
  }
  #title8{
      display: grid;
      border:0.5px solid #b4b3b3; 
      height: 250px;
  width: 190px;
  background-color: #002fff;
  }
#title9    {
  display: grid;
height: 150px;
width: 760px;
background-color: #ffc400;  
}

} 